In [1]:
import pandas as pd

In [19]:
df = pd.read_csv('test_worklog.csv')

df.shape

(250, 14)

In [20]:
df.head()

,Project,Client,Description,Task,User,Group,Email,Tags,Start Date,Start Time,End Date,End Time,Duration (h),Duration (decimal)
0,Data Science,NaN,[DS-818]: improve the store-city-state matchin...,DS-818,Joseph Simon Q. Rojo,Platform,joseph.rojo@firstperformance.com,Sub-task,30/09/2022,20:40:26,30/09/2022,23:04:10,02:23:44,2.40
1,FP Card Controls,NaN,[FPCARD-3500]: [SUBSCRIPTION_MANAGEMENT] Discu...,FPCARD-3500,Joseph Simon Q. Rojo,Platform,joseph.rojo@firstperformance.com,Task,30/09/2022,20:12:46,30/09/2022,20:40:26,00:27:40,0.46
2,FP Card Controls,NaN,[FPCARD-3353]: Regular Meetings - Sprint 26,FPCARD-3353,Joseph Simon Q. Rojo,Platform,joseph.rojo@firstperformance.com,Task,30/09/2022,18:26:07,30/09/2022,20:12:46,01:46:39,1.78
3,Data Science,NaN,[DS-818]: improve the store-city-state matchin...,DS-818,Joseph Simon Q. Rojo,Platform,joseph.rojo@firstperformance.com,Sub-task,30/09/2022,18:07:17,30/09/2022,18:26:07,00:18:50,0.31
4,FP Card Controls,NaN,[FPCARD-3353]: Regular Meetings - Sprint 26,FPCARD-3353,Joseph Simon Q. Rojo,Platform,joseph.rojo@firstperformance.com,Task,30/09/2022,17:20:19,30/09/2022,18:07:17,00:46:58,0.78

In [4]:
df.columns

Index(['Project', 'Client', 'Description', 'Task', 'User', 'Group', 'Email',
       'Tags', 'Start Date', 'Start Time', 'End Date', 'End Time',
       'Duration (h)', 'Duration (decimal)'],
      dtype='object')

In [5]:
df_work_logs = df[['End Date', 'Duration (decimal)']]

In [18]:
df_work_logs.head()

     End Date  Duration (decimal)
0  30/09/2022                2.40
1  30/09/2022                0.46
2  30/09/2022                1.78
3  30/09/2022                0.31
4  30/09/2022                0.78

In [7]:
df_work_logs.groupby('End Date')

In [13]:
df_work_logs.groupby('End Date')['Duration (decimal)'].sum().sum()

166.54

In [21]:
summary = df_work_logs.groupby('End Date').sum().sum()

In [17]:
summary.sum()

Duration (decimal)    166.54
dtype: float64

In [22]:
summary

Duration (decimal)    166.54
dtype: float64